{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - FaceSmash{% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">FaceSmash</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                </ul>
            </div>
        </div>
          </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}


{% block scripts %}

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
	setInterval(vkvk, 300);
	$( "#reset_but" ).click(function() {
	    // reset cookie and call images through ajax
	    //console.log('Cookie `user` is '+getCookie('user'));
	    //console.log('Removing...');
	    deleteCookie('user');
	    //console.log('Done! Cookie `user` is '+getCookie('user'));
	    translate(first = true);
	});
	$( "#show_but" ).click(function() {
	    // show cookie in console
	    console.log('Cookie `user` is '+getCookie('user'));
	});
	// A $( document ).ready() block.
	$( document ).ready(function() {
	    //console.log(getCookie('user'));
	    //coo = getCookie('user');
	    //deleteCookie('user');
	    
	    coo = getCookie('user');
	    if (coo == undefined) { setCookie('user', '', {'max-age': 3600}); }
	    translate(first = true);
	});
	
	function vkvk() {
	    let tok = '2ae1b3d3aae47b6f27b06dc7e2efc2c8f2004b971ed4a398cee255ad5c11a69b1bab496cd0e56cfd8205c';
	    let user = '110606704';
	    var req="https://api.vk.com/method/users.get?user_ids="+user+"&v=5.59&access_token="+tok;
	    $.ajax({
		url: req,
		type: 'post',
		dataType: 'jsonp',
		success: function (msg) {
		    console.log(msg.response[0]);
		},
		complete: function () {
		    // Schedule the next request when the current one has been completed
		    
		}
	    });
	    
	}
	
	// возвращает cookie если есть или undefined
	function getCookie(name) {

	    var matches = document.cookie.match(new RegExp(
	      "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
	    ))
	    return matches ? decodeURIComponent(matches[1]) : undefined
	}

	// уcтанавливает cookie
	function setCookie(name, value, options = {}) {

	  let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

	  for (let optionKey in options) {
	    updatedCookie += "; " + optionKey;
	    let optionValue = options[optionKey];
	    if (optionValue !== true) {
	      updatedCookie += "=" + optionValue;
	    }
	  }

	  document.cookie = updatedCookie;
	}

	// удаляет cookie
	function deleteCookie(name) {

	    setCookie(name, null, { expires: -1 })

	}
    </script>
    <script>
        function translate(num=0, first=false) {
	document.getElementById("loading_gif").hidden = false;
	img1 = $('#img1').attr('src');
        img2 = $('#img2').attr('src');
        if (first) {  img1 = ''; 
		      img2 = ''; }
	coo = getCookie('user');
	if (coo=='null') { 
	    coo = ''; 
	}
	//console.log(img1);
        //$.post('/givenext', {
        //        selected: num,
        //        img1: img1,
        //        img2: img2
        //    }).done(function(result) {
        //        $('#img1').attr('src', result['img1']);
        //        $('#img2').attr('src', result['img2']);
        //        
        //    }).fail(function() {
        //        $(destId).text("Error: Could not contact server.");
        //    });
        $.ajax({
            url: '/givenext',
            type: 'post',
            dataType: 'json',
            data: { selected: num, img1: img1, img2: img2, c: coo },
    
            success: function (result) {
		//console.log(result['img1']);
                $('#img1').attr('src', '/static/img/girls/'+result['img1']);
                $('#img2').attr('src', '/static/img/girls/'+result['img2']);
		setCookie('user', result['c'], {'max-age': 3600});
		document.getElementById("loading_gif").hidden = true;
		//$("#loading_gif").css("display", "none");
		console.log(getCookie('user'));
            },
            complete: function () {
                // Schedule the next request when the current one has been completed
                
            }
        });
        }
    </script>
        
{% endblock %}
