{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - FaceSmash{% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">FaceSmash</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                </ul>
            </div>
        </div>
          </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}


{% block scripts %}

    <link rel="stylesheet" href="/static/css/popup.css" type="text/css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="static/js/cookies.js"></script>
    <script src="/static/js/vk_collect.js"></script>
    <script>
        //setInterval(vkvk, 300);
        $( "#reset_but" ).click(function() {
            // reset cookie and call images through ajax
            deleteCookie('user');
            //console.log('Done! Cookie `user` is '+getCookie('user'));
            translate(first = true);
        });
        $( "#show_but" ).click(function() {
            // show cookie in console
            console.log('Cookie `user` is '+getCookie('user'));
        });
    
        $( document ).ready(function() {
            
            function popup_image(){	// Событие клика на маленькое изображение
                var img = $(this);	// Получаем изображение, на которое кликнули
                var src = img.attr('src'); // Достаем из этого изображения путь до картинки
                $("body").append("<div class='popup'>"+ //Добавляем в тело документа разметку всплывающего окна
                                 "<div class='popup_bg'></div>"+ // Блок, который будет служить фоном затемненным
                                 "<img src='"+src+"' class='popup_img' />"+ // Само увеличенное фото
                                 "</div>"); 
                $(".popup").fadeIn(200); // Медленно выводим изображение
                $(".popup").click(function(){	// Событие клика на затемненный фон	   
                    $(".popup").fadeOut(200);	// Медленно убираем всплывающее окно
                    setTimeout(function() {	// Выставляем таймер
                      $(".popup").remove(); // Удаляем разметку всплывающего окна
                    }, 200);
                });
            }
            
            $("#img1").bind("click", {num:"1"}, translate);
            $("#img2").bind("click", {num:"2"}, translate);
        
            // установим обработчик события keypress, элементу с идентификатором img1
            $(document).keydown(function(e){
              if (e.which == 17) {
                $("#img1, #img2").unbind("click");
                $("#img1, #img2").bind("click", popup_image);
              }
            }).keyup(function(e){
                $("#img1, #img2").unbind("click");
                $("#img1").bind("click", {num:"1"}, translate);
                $("#img2").bind("click", {num:"2"}, translate);
            });
            
            coo = getCookie('user');
            if (coo == undefined) { setCookie('user', '', {'max-age': 3600}); }
            translate(first = true);
        });
    </script>
    
    <script>
        function translate(e=null, first=false) {
            var num;
            if (num) {
                num = +e.data.num;
            }
            else {
                num = 0;
            }
            document.getElementById("loading_gif").hidden = false;
            let img1 = $('#img1').attr('src');
                let img2 = $('#img2').attr('src');
                if (first) {  img1 = ''; 
                      img2 = ''; }
            let coo = getCookie('user');
            if (coo=='null') { 
                coo = ''; 
            }
            $.ajax({
                url: '/givenext',
                type: 'post',
                dataType: 'json',
                data: { selected: num, img1: img1, img2: img2, c: coo },
        
                success: function (result) {
                    $('#img1').attr('src', '/static/img/girls/'+result['img1']);
                    $('#img2').attr('src', '/static/img/girls/'+result['img2']);
                    setCookie('user', result['c'], {'max-age': 3600});
                    document.getElementById("loading_gif").hidden = true;
                    //$("#loading_gif").css("display", "none");
                    console.log(getCookie('user'));
                },
                complete: function () {
                    // Schedule the next request when the current one has been completed
                    
                }
            });
        }
    </script>
        
{% endblock %}
