<!-- extend base layout -->
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <span style="display:inline-block;" >
	<button id="reset_but" type="button" class="btn btn-primary btn-lg">Reset Cookie</button>
	<button id="show_but" type="button" class="btn btn-primary btn-lg">Show Cookie</button>
	<button id="stopvk_but" type="button" class="btn btn-primary btn-lg">Show Cookie</button>
	<img id="loading_gif" src="/static/img/loading.gif" hidden />
    </span>
    <div>
      <a href="javascript:translate(1)"><img id="img1" src="" class="img-thumbnail" width="500" height="500"></a>
      <a href="javascript:translate(2)"><img id="img2" src="" class="img-thumbnail" width="500" height="500"></a>
    </div>
{% endblock %}
